#contact {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

#contact h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  letter-spacing: -0.05em;
  margin: 34px 0 0 0;
}

.contact-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 5px 0;
}

.register {
  width: 629px;
  height: 40px;
  border: 1px solid #EC680A;
}

#contact select {
  width: 100%;
  height: 40px;
  border: 1px solid #EC680A;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px; 
  color: rgba(0, 0, 0, 0.6);
}

.message {
  width: 100%;
  height: 104px;
  border: 1px solid #EC680A;
}

.send-message {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-bottom: 100px;
}

.send-message button {
  margin-top: 20px;
  width: 186px;
  background: #000;
  border: none;
  cursor: pointer;
}

.send-message p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff
}

@media (max-width:900px) {
  .register {
    width: 100%;
  }
}