.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 2;
}

.logo {
  margin-left: 150px;
  margin-top: 10px;
}

.navigation a {
  text-decoration: none;
  margin-left: 60px;
  color: #000;
  font-size: 25px;
  font-family: 'Montserrat';
  height: 116px;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 148px;
  background-image: url(/img/hover.png);
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-position-x: center;
}

.navigation a:hover {
  background-image: url(/img/hover.png);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -10px;
  background-position-y: 0;
  transition: .3s;
}


.navigation {
  height: 116px;
  display: flex;
}


.navigation a:last-child{
  margin-right: 150px;
}

.carousel .slick-slide img {
  max-width: 100%;
  width: 100%;
  height: auto;
}


.carousel .slick-prev{
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 44%;
  font-size: 0;
  border: none;
  background: none;
}


.carousel .slick-dots {
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 8%;
  text-decoration: none;
  display: flex;
  left: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}


.carousel .slick-dots li button{
  font-size: 0;
  border: none;
  background: none;
}

.carousel .slick-next{
  position: absolute;
  z-index: 2;
  bottom: 10%;
  right: 44%;
  font-size: 0;
  border: none;
  background: none;
}

.carousel .slick-prev::before{
  content: '';
  background-image: url(/img/seta-L.png);
  display: block;
  width: 26px;
  height: 45px;
}

.carousel .slick-next::before{
  content: '';
  background-image: url(/img/seta-R.png);
  display: block;
  width: 26px;
  height: 45px;
}

.carousel .slick-dots li button::before{
  content: '';
  background-image: url(/img/chapeu.png);
  display: block;
  width: 31px;
  height: 25px;
}

.carousel .slick-dots li.slick-active{
  margin-bottom: 20px;
}

.carousel .slick-dots li.slick-active button::before{
  content: '';
  background-image: url(/img/chapeu-act.png);
  display: block;
  width: 31px;
  height: 25px;
}

.social-network-mobile{
  display: none;
}

@media (max-width:600px) {
  .menu {
    position: relative;
    background-color: white;
    width: 100%;
  }

  .logo {
    display: flex;
    margin-bottom: 10px;
  }

  .navigation a{
    display: none;
  }

  .carousel .slick-prev {
    left: 33%;
  }

  .carousel .slick-next {
    right: 33%;
  }

  .social-network-mobile {
    padding: 0;
    width: 112px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .social-network-mobile li{
    list-style: none;
  }

}