

.our-menu {
  width: 500px;
  margin-left: 250px;
  margin-top: 70px;
  margin-bottom: 90px;
}

.linha {
  margin-bottom: 5px;
}

.our-menu h2 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.our-menu h3 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
}

.our-menu p {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500px;
  font-size: 18px;
}

.description {
  margin-top: 0;
}



.btn {
  padding: 10px 20px;
  background: black;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.btn h4 {
  width: 180px;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.btn:hover {
  background:#EC680A;
  border: none;
}

.btn:hover h4 {
  color: #000;
}

.sweet-menu {
  width: 500px;
  margin-left: auto;
  margin-top: 70px;
  margin-right: 200px;
  margin-bottom: 90px;
}

.sweet-menu h2 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.sweet-menu h3 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
}

.sweet-menu p {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500px;
  font-size: 18px;
}

.half-menu {
  height: 50px;
}

@media (max-width:900px) {
  .our-menu {
    margin: 5% 10%;
    width: 70%
  }

  .our-menu p {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 320px;
    margin: 5px 0;
  }

  .description {
    width: 100% !important;
  }

  .btn{
    margin-top: 10px;
  }

  .sweet-menu {
    margin: 5% 10%;
    width: 70%
  }

  .sweet-menu p {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 320px;
    margin: 5px 0;
  }
}