@import "cabecalho.css";
@import "menu.css";
@import "apresentacao.css";
@import "doce.css";
@import "nosso-cardapio.css";
@import "cotato.css";
@import "rodape.css";
@import "font.css";
@import "parallax.css";
@import "feedback.css";

body {
  margin: 0;
  min-width: 1210px;
  position: relative;
}















